<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<display-name>desk_learning_app</display-name>
<welcome-file-list>
<welcome-file>NewFile.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>TicketServletCreate</servlet-name>
<servlet-class>com.desk.learning.web.TicketServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TicketServletCreate</servlet-name>
<url-pattern>/tickets/create</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TicketServletList</servlet-name>
<servlet-class>com.desk.learning.web.TicketListServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TicketServletList</servlet-name>
<url-pattern>/tickets/list</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TicketServletGet</servlet-name>
<servlet-class>com.desk.learning.web.TicketServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TicketServletGet</servlet-name>
<url-pattern>/tickets/read</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TicketServletUpdate</servlet-name>
<servlet-class>com.desk.learning.web.TicketServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TicketServletUpdate</servlet-name>
<url-pattern>/tickets/update</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>TicketServletDelete</servlet-name>
<servlet-class>com.desk.learning.web.TicketServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TicketServletDelete</servlet-name>
<url-pattern>/tickets/delete</url-pattern>
</servlet-mapping>
</web-app>